<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="container bg-dark  p-0">
  <div class="row m-0">
    <div class="w-100 ml-auto mr-auto text-center mt-5">
      <video
        #player
        controls
        class="embed-responsive-item"
        asp-append-version="true"
      >
        <source [src]="currentVideo" type="video/mp4" />
      </video>
    </div>
    <div class="row w-100 p-0 m-0" style="position:relative">
      <div class="video-nav-prev " (click)="prev(video)"><</div>
      <div #video class="row p-0 m-0 bg-secondary video-nav">
        <ul>
          <li
            *ngFor="let video of myVideoList"
            class=" showVideo "
            data-video="video.videoUrl"
          >
            <div class="card text-center" (click)="play(video)">
              <img
                class="img-fluid  m-auto"
                width="50"
                src="{{video.thumbnail}}"
              />
              <div class="card-body d-none d-sm-block text-dark">
                {{ video.title }}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="video-nav-next" (click)="next(video)">></div>
    </div>
  </div>
</div>
